{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2  push-top">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">What you picked</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded-pill"></div>
                {% else %}
                    <p class="lead mb-5">You have nothing in your cart</p>
                    <a href="{% url 'products' %}" class="see-the-button btn btn-lg rounded-pill py-3">See My Collection!</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}