{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 push-top">
    <div class="row">
        <div class="col-12">
            <h2 class="dollie-font-big mb-4 text-center">About Me And My Barbie Booth</h2>
            <hr class="w-75 mb-1">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-4">
            <img src="{{ MEDIA_URL }}mypicture.jpg" id="mypicture" class="w-100 rounded mb-3" alt="Geiske"/>
        </div>
        <div class="col-12 col-md-8">
            <p class="big dollie-font-big text-left">Hi Barbie Collector,</p>
            <p class="p-par">As a response to an - almost traumatic - event in which I lost my very first Barbie Doll (it was actually the very first doll that was given away to the crowd during a huge Barbie launch event in Amsterdam, 1961), I started collecting all Barbie Dolls that were released between 1964 and 1972.</p>
            <p class="p-par">After years of diligent tracing at collector’s events and markets, my collection was almost complete. I had collected hundreds of authentic Barbie dolls, Skippers, and Kens. All mended, and with their original clothing and outfits. Aside from that, I had a massive collection of clothing and accessories for the dolls.</p>
            <p class="p-par">But after years of enjoying the collection, I feel it’s time to let it go. It’s also an emotional process, so why not do it step by step, in her own online store. I promised her once that if I would be able to, I would build the online store for her. So here I am taking the first step.</p>
            <p class="p-par">The community of Barbie collectors is huge and I would like this webshop to be a popular point for Barbie collectors all over the world. That is why every product needs a detailed description, with the original title of the Barbie/accessory along with its release year, and state of condition.</p>
            <p class="p-par">Some dolls are extremely rare and expensive. Finding an exact copy of it will be hard. So from one Barbie collector to another, I hope you like my webshop and may it support you in completing your own collection.</p>
            <p class="big dollie-font-big text-right">,Geiske</p>
            <div class="text-center mb-5">
                <a href="{% url 'products' %}" class="btn see-the-button rounded-pill px-1 py-1 mr-1">See My Collection!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}