{% extends "base.html" %}
{% load static %}


{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 push-top h-100">
    <div class="row">
        <div class="col-12">
            <h2 class="dollie-font-big mb-4 text-center">Contact Me</h2>
            <hr class="w-75 mb-1">
            <div class="text-center mb-2">
            If you have any questions, feel free to ask me! I'll get in touch with you as soon as possible.
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                <strong>Name:</strong>
                </div>
                <div class="mb-3">
                {{ form.name }}
                </div>
                <div class="mb-2">
                <strong>Email:</strong>
                </div>
                <div class="mb-3">
                {{ form.email }}
                </div>
                <div class="mb-2">
                <strong>Subject:</strong>
                </div>
                <div class="mb-3">
                {{ form.subject }}
                </div>
                <div class="mb-2">
                <strong>Description:</strong>
                </div>
                <div class="mb-3">
                {{ form.description }}
                </div>
                {{ form.date }}
                
                <div class="text-center"> 
                    <input class="btn see-the-button rounded-pill mt-3" type="submit" value="Submit!">
                </div>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
{% endblock %}

