{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 push-top h-100">
    <div class="row">
        <div class="col-12">
            <h2 class="dollie-font-big mb-4 text-center">Frequently Asked Questions</h2>
            <hr class="w-75 mb-1">
        </div>
    </div>
    <div class="row mt-4">
        
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    
{% endblock %}
