{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 push-top">
    <div class="row">
        <div class="col-12">
            <h2 class="dollie-font-big mb-4 text-center">Frequently Asked Questions</h2>
            <hr class="w-75 mb-1">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1">
            <h1 class="dollie-font text-purple text-center">Are All Your Products Authenic?</h1>
            <p class="p-par">
            Uhm, yes, of course?! No seriously. They all are. Over the years I have done a lot of research on what to look at. Some dolls and accessories - especially
            the heads - have been manually restored, but nothing in my collection is fake. Some aspects of a product may have degraded over the years though. 
            To be sure you can see the condition of the product on the Products and Product Details Page. If you have any other questions about the product, you can leave a comment
            behind on the Product Details Page and I will respond as soon as possible.
            </p>
            <h1 class="dollie-font text-purple text-center">Is Your Whole Collection On The Website?</h1>
            <p class="p-par">
            No, not my whole collection is online right now. Selling my Barbie collection is also a bit of an emotional process for me, so I'm doing this step by step.
            Just keep an eye on my webshop, I'll update it frequently.
            </p>
            <h1 class="dollie-font text-purple text-center">Can I Order One Of Your Products As A Gift To Someone?</h1>
            <p class="p-par">
            Sure you can! Just contact me with your order number on the contact page and I will fix it for you. I'll even wrap it in an extra nice box. :)
            </p>
            <h1 class="dollie-font text-purple text-center">Can I Reserve A Product For Later?</h1>
            <p class="p-par">
            Yes, but be quick. Transactions of other Barbie collectors can go quickly so contact me and I will put it on hold for you.
            You can do this by contacting me through the contact page. Be descriptive about the product you want me to put on hold and I'll do my best!
            </p>
            <h1 class="dollie-font text-purple text-center">When Will You Send My Order?</h1>
            <p class="p-par">
            I will ship your order within 3 working days. Of course, delivery dates will depend on your location but I'll do my best to send it as soon as possible.
            If you want to know the status of your order, just contact me through the contact page. Should anything happen to your order, I will get in touch with you.
            </p>
            <h1 class="dollie-font text-purple text-center">I'm Not Even A Barbie Collector, What Am I Doing Here?</h1>
            <p class="p-par">
            Well, Barbies are awesome! Just take a look around and become mesmerized by their eyes and outfits. Or.. shop for Transformers elsewhere.
            </p>
            <hr>
            If this page didn't help you any further, please contact me! You can do so by clicking the contact link below:
        </div>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'contact' %}" class="btn see-the-button rounded-pill px-1 py-1 mr-1 mt-3 mb-4">Contact Me</a>
</div>
{% endblock %}

{% block postloadjs %}
    
{% endblock %}
