{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 mt-5">
    <div class="row h-100">
        <div class="col-3 p-0 offset-1">
            <img src="{{ MEDIA_URL }}barbie1.png" class="barbie-home-picture" alt="Barbie"/>
        </div>
        <div class="col-7 text-center half-push-top">
            <h1 class="display-4 mt-5 text-purple dollie-font">
                "Just take a look at us!"
            </h1>
            <div class="mt-5">
            <h5>
                <a href="{% url 'products' %}" class="small see-the-button-small rounded-pill px-1 py-1 mr-1">See My Collection!</a>
            </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        var x = document.getElementById("barbie-home-picture")
        setInterval(function(){
            $('.barbie-home-picture')
        })
        
    </script>
{% endblock %}
