{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" type="text/css">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container push-top">
    <div class="row">
        <div class="col">
            <h2 class=" text-center dollie-font-big mb-4">Oh my.. Thank you!</h2>
            <hr class="w-75 mb-1">
            <p class="text-center">I'll send it to you as quickly as I can! 
                And I will send an email to <strong>{{ order.email }}
                </strong> with all the details!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-lg-7 m-auto rounded-1 border-purple bg-light-yellow">
            <div class="order-confirmation-wrapper p-0">
                <div class="row">
                    <div class="col mt-2">
                        <p class="text-purple">What you ordered:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-1 text-purple font-weight-bold">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right mb-1">
                        <p class="small mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-1 text-purple font-weight-bold mt-1">Order Details:</p>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">{{ item.product.name }}</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">$ {{ item.product.price }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <p class="mb-1 text-purple font-weight-bold mt-1">Delivering it to:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.county }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-1 text-purple font-weight-bold mt-1">Billing info:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Order Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">$ {{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Delivery:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="small mb-0">$ {{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-purple font-weight-bold">Grand Total:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-purple font-weight-bold">$ {{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center m-auto">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="semi-fill-page btn rounded-pill see-the-button">
            <span class="icon">
            <i class="fas fa-user"></i>
            </span>
            <span class="font-weight-bold">Back to my profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}" class="semi-fill-page btn rounded-pill see-the-button">
            <span class="icon">
            <i class="fas fa-shopping-cart"></i>
            </span>
            <span class="font-weight-bold">I'm on a shopping spree!</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}