/* Custom fonts */

@font-face {
    font-family: "DollieScript_PersonalUse";
    src: url('../fonts/DollieScript_PersonalUse.ttf'),
    url('../fonts/DollieScript_PersonalUse.ttf'); /* IE */
}

.dollie-font {
    font-family: 'DollieScript_PersonalUse';
}

/* Elements */

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 50px);
    color: #9a5366;
    font-family: 'Ubuntu';
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.logo-size {
    color: white!important;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    font-size: 50px;
}

.navbar,
.dropdown-menu-style {
    border: 5px solid #9a5366;
}

.dropdown-menu > form{
    min-width: 20rem;
}

/* Change the border radius of the navbar on screens smaller than xl */
@media (max-width: 1199px) {
    .navbar {
        border-radius: 35px!important;
    }
}

.black-white-border {
    color: white!important;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.barbie-home-picture {
    margin-top: 80px;
    height: 60vh;
    object-fit: contain;
    margin-left: -100px;
    z-index: 4;
    /* Disabled for dropshadow load times....
    -webkit-filter: drop-shadow(4px 4px 0 #9a5366)
                  drop-shadow(-4px -4px 0 #9a5366);
    filter: drop-shadow(4px 4px 0 #9a5366) 
            drop-shadow(-4px -4px 0 #9a5366);
    */
}

@media (min-width: 992px) {
    .barbie-home-picture {
        margin-top: 80px;
        height: 60vh;
        object-fit: contain;
        z-index: 4;
        margin-left: 70px;
        /* Disabled for dropshadow load times....
        -webkit-filter: drop-shadow(4px 4px 0 #9a5366)
                    drop-shadow(-4px -4px 0 #9a5366);
        filter: drop-shadow(4px 4px 0 #9a5366) 
                drop-shadow(-4px -4px 0 #9a5366);
        */
    }
}


.bubbleback {
    background: url('/media/bubbles-transparent.png') no-repeat center center;
    background-size: 100%;
    padding-right: -50%;
    z-index: 5;
}

.btn-purple {
    background: #fff568!important;
    color: #9a5366!important;
}

.see-the-button {
    background: #fff568;
    color: #9a5366;
    min-width: 200px;
    max-width:260px;
    border: 5px solid #9a5366;
}

.see-the-button-small {
    background: #fff568;
    color: #9a5366;
    min-width: 200px;
    max-width:260px;
    border: 5px solid #9a5366;
    margin: 0px;
    padding: 3px;
}

.see-the-button:hover,
.see-the-button:active,
.see-the-button:focus,
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background: #9a5366;
    color: #fff568;
}

.category-button {
    background: #fff568;
    color: #9a5366;
    min-width: 100px;
    max-width:120px;
    border: 5px solid #9a5366;
}

.category-button:hover,
.category-button:active,
.category-button:focus,
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background: #9a5366;
    color: #fff568;
}

.text-darkmint {
    color: #597a68 !important;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #FFFFFF !important;
}

.text-purple {
    color: #9a5366 !important;
}

.text-yellow {
    color: #fff568 !important;
}

.text-spacing {
    letter-spacing: 1px;
}

.border-purple {
    border: 5px solid #9a5366 !important;
}

.bottom-border {
    border-bottom: 2px solid #9a5366 !important;
}

.bg-pink {
    background: #f4b5c6;
}

.bg-light-pink {
    background: #ffd1dd;
}

.bg-light-yellow {
    background: #fffea7;
}

.bg-transparent {
    background: transparent;
}



/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;

}

.bag-notification-wrapper {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}