<footer id="footer" class="container-fluid bg-light-pink push-footer-down">
    <div class="row">
        <div class="col-12">
            <div class="container mx-auto text-white">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="row h-100">
                            <div class="col-12 text-center text-purple mt-2 dollie-font-big">
                                    <h3>Barbie Booth</h3>
                            </div>
                            <div class="col-3 offset-1 p-0">
                                <div class="text-center">
                                    <i class="text-purple header-icons fas fa-globe-europe"></i>
                                    <p class="small text-purple mt-2 mb-0">WORLDWIDE SHIPPING</p>
                                </div>
                            </div>
                            <div class="col-4 p-0">
                                <div class="text-center">
                                    <i class="text-purple header-icons fas fa-certificate"></i>
                                    <p class="small text-purple mt-2 mb-0">100%<br> AUTHENTIC</p>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="text-center">
                                    <i class="text-purple header-icons fas fa-hand-holding-heart"></i>
                                    <p class="small text-purple mt-2 mb-0">GREAT CONDITION</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="col-12 text-center text-purple mt-2 dollie-font-big">
                            <h3>Popular Links</h3>
                        </div>
                        <table class="small w-100 mx-auto text-center">
                            <tr>
                                <td class="w-50"><a href="{% url 'home' %}" class="text-purple">Home</a></td>
                                <td class="w-50"><a href="{% url 'faqs' %}" class="text-purple">FAQS</a></td>
                            </tr>
                            <tr>
                                <td class="w-50"><a href="{% url 'about' %}" class="text-purple">About</a></td>
                                <td class="w-50"><a href="{% url 'privacy_policy' %}" class="text-purple">Privacy Policy</a></td>
                            </tr>
                            <tr>
                                <td class="w-50"><a href="{% url 'contact' %}" class="text-purple">Contact</a></td>
                                <td class="w-50">Terms & Conditions</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 text-center text-purple">
                        <small>© Barbie Booth 2020</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>