<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="dollie-font nav-link nav-item-big text-black pt-0 pb-0 mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collection
            </a>
            <div class="dropdown-menu border-top-0 bg-light-pink border-collapse-purple" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item ">By Year</a>
                <a href="" class="dropdown-item">By Condition</a>
                <a href="" class="dropdown-item">Everything!</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dollie-font nav-link nav-item-big text-black pt-0 pb-0 mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dolls
            </a>
            <div class="dropdown-menu border-top-0 bg-light-pink border-collapse-purple" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Barbie</a>
                <a href="" class="dropdown-item ">Francie</a>
                <a href="" class="dropdown-item ">Skipper</a>
                <a href="" class="dropdown-item">Christie</a>
                <a href="" class="dropdown-item">Julia</a>
                <a href="" class="dropdown-item">Ken</a>
                <a href="" class="dropdown-item">All dolls</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="dollie-font nav-link nav-item-big text-black pt-0 pb-0 mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accesories
            </a>
            <div class="dropdown-menu border-top-0 bg-light-pink border-collapse-purple" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Bags</a>
                <a href="" class="dropdown-item">All Accesories</a>
                
            </div>
        </li>
    </ul>
</div>