{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

            <hr>
            <h2 class="mb-4 push-top text-center">{% trans "Sign Out" %}</h2>
            <hr>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a class="btn see-the-button rounded-pill mt-2" href="{% url 'home' %}">Back Home</a>
            <button class="btn see-the-button rounded-pill mt-2" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        

{% endblock %}
