{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="dollie-font-big mb-4 push-top">{% trans "Set Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn see-the-button rounded-pill mt-2" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
