{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid push-top">
        <div class="row">
            <div class="col">
                <h2 class="dollie-font-big mb-4 text-center">Product Details</h2>
                <hr class="w-75 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="product-details-container mb-2 mt-md-5">
                    <p class="lead mb-0 text-left font-weight-bold">{{ product.name }}</p>
                    <!--<p class="mb-0"><i class="far fa-calendar-minus"></i> Status: {{ product.get_availabilty_display }}</p>-->
                    <p class="mb-0"><i class="far fa-calendar-minus"></i> Year: {{ product.year }}</p>
                    {% if product.category %}
                        <p class="mb-0">
                            <a class="text-purple" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-list mr-1"></i>Category: {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.condition %}
                        <p class="mb-0"><i class="fas fa-hand-holding-heart mr-1"></i>Condition: {{ product.condition}} / 5</p>
                    {% else %}
                        <p class="mb-0">Condition: Contact me to ask me about the condition of this product!</p>
                    {% endif %}
                    <i class="fas fa-eye mr-1"></i>Viewed: {{ product.views }} times
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price}}</p>
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                            {% if product.availabilty == 'available' %}
                                <input type="submit" class="see-the-button btn btn-lg rounded-pill py-3" value="Put it in my cart!">
                            {% else %}
                                <h2 class="text-darkmint">This product has been sold already!</h2>
                            {% endif %}
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="image-container my-5 text-center">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid rounded-lg product_details_image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div> 
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">   
            <div class="col-8 offset-2">
                <h2 class="dollie-font-big text-center">Comments</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        
        <div class="row">
            {% if comments %}
                {% for comment in comments %}
                {% if comment.name == 'GeiskeZijlstra' %}
                <div class="col-9 offset-1 rounded border-purple bg-light-pink mb-1">
                    <p class="text-purple mt-3 mb-0 pl-2"><strong>Geiske Zijlstra:</strong> | <small>{{ comment.created_date }}</small></p>
                    <hr class="mt-0 mb-0">
                    <p class="text-purple mb-3 pl-2">{{ comment.description }}</p>
                </div>
                {% else %}
                <div class="col-9 offset-2 rounded border-purple bg-light-yellow mb-1">
                    <p class="text-purple mt-3 mb-0 pl-2"><strong>{{ comment.name }}</strong> | <small>{{ comment.created_date }}</small></p>
                    <hr class="mt-0 mb-0">
                    <p class="text-purple mb-3 pl-2">{{ comment.description }}</p>
                </div>
                {% endif %}
                {% endfor%}
            {% else %}
            <div class="col-10 text-center offset-1">
                <p class="text-purple">No comments have been posted yet, be the first!</p>
            </div>
            {% endif %}
            <hr class="">
        </div>
        <div class="row mb-5 mt-1">
            {% if request.user.is_authenticated %}
            <div class="col-10 offset-1 mb-1 mt-2 text-center">
                <h2 class="dollie-font-big text-center">Add a comment!</h2>
                <hr class="w-50 mb-1">
                <form action="{% url 'product_detail' product.id %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row mt-2 mb-2">
                        <div class="col-12 px-0">
                        <strong> {{ request.user.username }}:</strong>
                        {{ form.description | as_crispy_field }}
                        </div>
                    </div>
                    <input type="hidden" id="name" name="name" value="{{ request.user.username }}">
                    <input class="see-the-button btn btn-lg rounded-pill py-1" type="submit" value="Submit!">
                </form>
            </div>
            {% else %}
            
            <div class="col-10 offset-1 mt-2 mb-1 text-center">
                <div class="row">
                    <div class="col text-center">
                    Please login to add comments!
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2 text-center">
                    <form class="form" action="{% url 'account_login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <input type="submit" class="see-the-button btn btn-lg rounded-pill py-1" value="Log In Now!">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
    </div>
{% endblock %}